<%= form_for @apertura_caja, validate: true do |f| %>
  <% if @apertura_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@apertura_caja.errors.count, "error") %> prohibited this apertura_caja from being saved:</h2>

      <ul>
      <% @apertura_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <form class="form-horizontal">
      <div class="field col-md-12 form-group">
        <div class="field col-md-4 form-group required">
          <%= f.label :caja, :class => 'col-md-2 control-label'%>
          <div class="col-md-10">
            <%= f.collection_select :caja_id, Caja.where(:estado => 'Cerrado'), :id, :name_caja, {prompt: "Seleccione una caja"} ,:class => 'btn btn-default', autofocus:true %>
          </div>
        </div>
 
        <div class="field col-md-4 form-group">
          <strong>Apertura:</strong>
          <%= Time.now %>
        </div>

        <div class="field col-md-4 form-group">
          <strong>Cajero:</strong>
          <%= current_user.username %> 
        </div>
         </div>
        <div class="actions col-md-10 form-group">
        <% if can? :create, AperturaCaja and can? :create, MovimientoCaja and can? :create, BoletaDeposito %>
            <% if controller.action_name == 'new' %>
              <%= f.submit "Abrir caja", :class => 'btn btn-primary margen'%>
            <% end %>
          
            <%= link_to 'Cancelar',  new_apertura_caja_path , class: 'btn btn-primary margen' %>
          <% end %>
        </div>
      </div>
    </form>
  </div>
<% end %>
  
  
  

