<div class="col-sm-12 col-md-12">
  <table id="table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Caja</th>
        <th>Estado</th>
        <th>Cajero</th>
        <th>Fecha de apertura</th>
        <th>Fecha de cierre</th>
        <th>Saldo inicial efectivo</th>
        <th>Saldo inicial cheque</th>
        <th>Saldo final efectivo</th>
        <th>Saldo final cheque</th>   
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @apertura_cajas.each do |apertura_caja| %>
        <tr>
          <td><%= apertura_caja.caja.nro_caja %></td>
          <td><% if apertura_caja.cierre.nil? %>
                  <%='Abierto'%>
              <%else%>
                  <%='Cerrado'%>
              <%end%>
          </td>
          <td><%= apertura_caja.user.username %></td>
          <td><%= apertura_caja.apertura %></td>
          <td><%= apertura_caja.cierre %></td>
          <td><%= apertura_caja.saldo_inicial_efectivo %></td>
          <td><%= apertura_caja.saldo_inicial_cheque %></td>
          <td><%= apertura_caja.saldo_final_efectivo %></td>
          <td><%= apertura_caja.saldo_final_cheque %></td>
          <td><%= link_to apertura_caja, class: 'btn btn-default', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-eye-open"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>