<div class="col-sm-12 col-md-12">
  <table id="table" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Motivo</th>
        <th>Descripcion</th>
        <th>Ingreso/Egreso</th>
        <th>Monto en efectivo</th>
        <th>Monto en cheque</th>
        <th>Fecha</th>
      </tr>
    </thead>

    <tbody>
      <% @apertura_caja.movimiento_cajas.each do |movimiento| %>
        <tr>
          <% motivo= MotivoMovimientoCaja.find(movimiento.motivo_movimiento_caja_id) %>
          <td><%= motivo.descripcion %></td>
          <td><%= movimiento.descripcion %></td>
          <% if movimiento.es_ingreso %>
            <td>Ingreso</td>
          <% else %>
            <td>Engreso</td>
          <% end %>
          <td><%= movimiento.monto_efectivo %></td>
          <td><%= movimiento.monto_cheque %></td>
          <td><%= movimiento.fecha %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
