<div class="container white">
  <%= render 'solapa' %>
  <h1>Caja Nro. <%=@apertura_caja.caja.nro_caja%></h1>
  <div class="row">
    <form class="form-horizontal">
      <div class="field col-md-1 form-group">  
      </div>
      <div class="field col-md-11 form-group">
        <div class="field col-md-5 form-group">
            <strong>Cajero/a: </strong>
            <%= current_user.username %>
        </div>
        <div class="field col-md-5 form-group">
            <strong>Apertura: </strong>
            <%= @apertura_caja.apertura %>
        </div>

        <div class="field col-md-5 form-group">
            <strong>Saldo inicial efectivo: </strong>
            <%= @apertura_caja.saldo_inicial_efectivo %>
        </div>
        <div class="field col-md-5 form-group">
            <strong>Saldo final efectivo: </strong>
            <%= @apertura_caja.saldo_final_efectivo %>
        </div>

        <div class="field col-md-5 form-group">
            <strong>Saldo inicial cheque: </strong>
            <%= @apertura_caja.saldo_inicial_cheque %>
        </div>
        <div class="field col-md-5 form-group">
            <strong>Saldo final cheque: </strong>
            <%= @apertura_caja.saldo_final_cheque %>
        </div>
        <% AperturaCaja.update(@apertura_caja.id, :user_id => current_user.id) %>
      </div>
    </form>
  </div>
</div>