<%= form_for @banco, validate: true do |f| %>
  
  <div class="row">
    <form class="form-horizontal">
    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group required">
        <%= f.label :nombre, :class => 'col-md-2 control-label'%>
        <div class="col-md-7">
          <%= f.text_field :nombre , autofocus:true, :maxlength => 30 , :class => 'form-control'%>
        </div>
      </div>

      <div class="field col-md-6 form-group required">
        <%= f.label :sucursal, :class => 'col-md-2 control-label'%>
        <div class="col-md-7">
          <%= f.text_field :sucursal,:maxlength => 30, :class => 'form-control'%>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group required">
        <%= f.label :direccion, :class => 'col-md-2 control-label' %>
        <div class="col-md-10">
          <%= f.text_field :direccion , :maxlength => 50, :class => 'form-control' %>
        </div>
      </div>

      <div  class="col-md-6 form-group required">
        <%= f.label :pais , :class => 'col-md-2 control-label'%>
        <% if can? :create, Banco and can? :read, Banco %>
          <%= link_to "#modal-pais", "data-toggle" => "modal" , class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
              <% end %>
            <% end %>
            <div  class="col-md-6">
              <select id="pais_ingreso" name="banco[pai_id]" class="btn btn-default">
                 <% @pais.each do |pai| %>
                    <%= render partial: "pais/coleccion", locals: {pai: pai} %>
  
                <% end %>
              </select>
          
          </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group required">
        <%= f.label :correo, :class => 'col-md-2 control-label' %>
        <div class="col-md-7">
          <%= f.text_field :correo, :maxlength => 30, :class => 'form-control'%>
        </div>
      </div>

      <div class="field col-md-6 form-group required">
        <%= f.label :ciudad , :class => 'col-md-2 control-label'%>
        <% if can? :create, Banco and can? :read, Banco %>
          <%= link_to "#modal-ciudad", "data-toggle" => "modal" , class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        <% end %>
        <div class="col-md-6">
          <select id="ciudad_ingreso" name="banco[ciudad_id]" class="btn btn-default">
                 <% @ciudads.each do |ciudad| %>
                    <%= render partial: "ciudads/coleccion", locals: {ciudad: ciudad} %>
  
                <% end %>
              </select>
        </div>
      </div>
    </div>

    <div class="field col-md-12 form-group">
      <div class="field col-md-6 form-group required">
        <%= f.label :telefono, :class => 'col-md-2 control-label' %>
        <div class="col-md-7">
          <%= f.text_field :telefono, :maxlength => 12, :class => 'form-control'%>
        </div>
      </div>
    </div>
      <div class="col-md-10">
          <div class="actions">
          <% if can? :create, Banco and can? :read, Banco %>
            <% if controller.action_name == 'edit'  %>
              <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
            <% else %>
                <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
            <% end %>
             <%= link_to 'Cancelar',  bancos_path , class: 'btn btn-primary margen' %>
          <% end %>
        </div>
        </div>
     </form> 
  </div>
<% end %>





<%= render 'bancos/modals/pais' %>
<%= render 'bancos/modals/ciudad' %>
