<div class="container">
    <div class="row">

        <h1>Bancos</h1>

        <%= render 'form' %>

      <div class="col-sm-12 col-md-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Ciudad</th>
              <th>Pais</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @bancos.each do |banco| %>
              <tr>
                <td><%= banco.nombre %></td>
                <td><%= banco.direccion %></td>
                <td><%= banco.telefono %></td>
                <td><%= banco.correo %></td>
                <td><%= banco.ciudad %></td>
                <td><%= banco.pais %></td>
                <td><%= link_to 'Show', banco %></td>
                <td><%= link_to 'Edit', edit_banco_path(banco) %></td>
                <td><%= link_to 'Destroy', banco, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Banco', new_banco_path %>
      </div>
    </div>
</div>