<div class="container">
    <div class="row">

        <h1>Bancos</h1>

        <%= render 'form' %>

      <div class="col-sm-12 col-md-6">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Direccion</th>
              <th>Telefono</th>
              <th>Correo</th>
              <th>Ciudad</th>
              <th>Pais</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @bancos.each do |banco| %>
              <tr>
                <td><%= banco.nombre %></td>
                <td><%= banco.direccion %></td>
                <td><%= banco.telefono %></td>
                <td><%= banco.correo %></td>
                <td><%= banco.ciudad %></td>
                <td><%= banco.pais %></td>
                <td>
                  <%= link_to banco, class: 'btn btn-default', title: 'Ver', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-eye-open"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to edit_banco_path(banco), class: 'btn btn-default', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-pencil"></span>
                  <% end %>
                </td>
                <td>
                  <%= link_to banco, method: :delete, data: { confirm: 'Esta seguro?' }, class: 'btn btn-default', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
    </div>
</div>