
<%= nested_form_for [@movimiento_caja.apertura_caja, @movimiento_caja], validate: true do |f| %>

  <div class="row">
    <form class="form-horizontal">
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group required">
          <%= f.label :motivo_movimiento_caja_id, 'Motivo', :class => 'col-md-3 control-label'%>

          <%= link_to "#motivo_movimiento_cajas", "data-toggle" => "modal" , class: 'btn btn-primary' do %>
              <span class="glyphicon glyphicon-plus"></span>
            <% end %>
        <div class="col-md-7">
          <select id="motivo_movimiento_caja" name="movimiento_caja[motivo_movimiento_caja_id]" class="btn btn-default">
            <% @motivo_movimiento_cajas.each do |motivo_movimiento_caja| %>
              <%= render partial: "motivo_movimiento_cajas/coleccion", locals: {motivo_movimiento_caja: motivo_movimiento_caja} %>
  
            <% end %>
          </select>
        </div>

        </div>
        <div class="field col-md-4 form-group required">
            <%= f.label :es_ingreso, 'Tipo', :class => 'col-md-3 control-label'%>
            <select name="movimiento_caja[es_ingreso]" class="btn btn-default">
              <option value="true" selected="selected">Ingreso</option>
              <option value="false">Egreso</option>
            </select>
        </div>

        <div class="field col-md-4 form-group">
          <strong>Fecha:</strong>
          <%= Time.now %>
        </div>
      </div>
     

      <div class="field col-md-12 form-group">
        <div class="field col-md-6 form-group required">
          <%= f.label :monto_efectivo,'Efectivo' , :class => 'col-md-3 control-label'%>
          <div class="col-md-8">
            <%= f.text_field :monto_efectivo, :maxlength => 35, :class => 'form-control'%>
          </div>
        </div>
      
      <div class="field col-md-6 form-group">
        <%= f.label :descripcion, :class => 'col-md-2 control-label' %>
        <div class="col-md-7">
            <%= f.text_area :descripcion, :maxlength => 80, :class => 'form-control'%>
          </div>
        </div>
      </div>
      </div>
      <br>

      <%# nested form de cheques recibidos%>
      <table class="tab table table-striped table-hover">
        <thead>
          <tr>
            <th>Cliente</th>
            <th>Nro. de cheque</th>
            <th>Banco</th>
            <th>Monto</th>
            <th>Fecha</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :cheque_recibidos, :wrapper => false do |cheque_recibidos_form| %>
            <tr class="fields">
              <td><%= cheque_recibidos_form.collection_select :cliente_id, Cliente.all, :id, :name_cliente, {prompt: "Seleccione un cliente"} ,:class => 'btn btn-default'%></td>
              <td><%= cheque_recibidos_form.number_field :nro_cheque, :class => 'form-control'%></td>
              <td><%= cheque_recibidos_form.collection_select :banco_id, Banco.all, :id, :name_banco, {prompt: "Seleccione un banco"} ,:class => 'btn btn-default'%></td>
              <td><%= cheque_recibidos_form.text_field :monto, :class => 'form-control' %></td>
              <td ><div class="input-group date">
            <%= f.text_field :fecha, :class => 'form-control' %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div></td>
              <td><%= cheque_recibidos_form.link_to_remove "X", :class => 'btn btn-danger'%></td>
            </tr>
          <% end %>
          <tr>
             <td><%= f.link_to_add "Agregar cheque", :cheque_recibidos, :class => 'insert_in_table btn btn-default' %></td>
          </tr>
        </tbody>
      </table>
      
      
      <div class="col-md-10 ">
        <div class="actions">
          <% if controller.action_name == 'edit'  %>
            <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
          <% else %>
              <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
          <% end %>
          <%= link_to 'Cancelar',  new_apertura_caja_movimiento_caja_path(@apertura_caja) , class: 'btn btn-primary margen' %>
        </div>
      </div>
    </form>
  </div>
<% end %>

<%= render 'movimiento_cajas/modals/movimiento_caja' %>