<h1>Listing periodo_fiscals</h1>

<table>
  <thead>
    <tr>
      <th>Fecha inicio</th>
      <th>Fecha fin</th>
      <th>Anho</th>
      <th>Activo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @periodo_fiscals.each do |periodo_fiscal| %>
      <tr>
        <td><%= periodo_fiscal.fecha_inicio %></td>
        <td><%= periodo_fiscal.fecha_fin %></td>
        <td><%= periodo_fiscal.anho %></td>
        <td><%= periodo_fiscal.activo %></td>
        <td><%= link_to 'Show', periodo_fiscal %></td>
        <td><%= link_to 'Edit', edit_periodo_fiscal_path(periodo_fiscal) %></td>
        <td><%= link_to 'Destroy', periodo_fiscal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Periodo fiscal', new_periodo_fiscal_path %>
