<%= form_for @cuentum, validate: true do |f| %>

  <div class="row">
    <form class="form-horizontal">
    <div class="field col-md-12 form-group">
      <div class="field col-md-4 form-group required">
          <%= f.label :nro_de_cuenta, :class => 'col-md-4 control-label'%>
          <div class="col-md-8">
            <%= f.text_field :nro_cuenta , autofocus:true , :maxlength => 10, :class => 'form-control'%>
          </div>
      </div>

      <div class="field col-md-4 required">
          <%= f.label :banco, :class => 'col-md-3 control-label'%>
          <div class="col-md-9">
            <%= f.collection_select :banco_id, Banco.all, :id, :name_banco, {prompt: "Seleccione un banco"} ,:class => 'btn btn-default'%>
          </div>
      </div>
      
      <div class="field col-md-4 form-group">
          <%= f.label :saldo, :class => 'col-md-2'%>
          <div class="col-md-10">
              <%= f.text_field :saldo , readonly:true ,:class => 'form-control', :class => 'form-control' %>
          </div>        
      </div>
    </div>
      
      <div class="col-md-10">
        <div class="actions">
          <% if can? :create, Cuentum %>
            <% if controller.action_name == 'edit'  %>
              <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
            <% else %>
                <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
            <% end %>
            
            <%= link_to 'Cancelar',  cuenta_path , class: 'btn btn-primary margen' %>
          <% end %>
        </div>
      </div>

    </form>
  </div>

<% end %>
