<%= form_for(@caja) do |f| %>
  <% if @caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@caja.errors.count, "error") %> prohibited this caja from being saved:</h2>

      <ul>
      <% @caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nro_caja %><br>
    <%= f.number_field :nro_caja %>
  </div>
  <div class="field">
    <%= f.label :saldo_inicial_efectivo %><br>
    <%= f.text_field :saldo_inicial_efectivo %>
  </div>
  <div class="field">
    <%= f.label :saldo_inicial_cheque %><br>
    <%= f.text_field :saldo_inicial_cheque %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
