<p id="notice"><%= notice %></p>

<p>
  <strong>Nro caja:</strong>
  <%= @caja.nro_caja %>
</p>

<p>
  <strong>Saldo inicial efectivo:</strong>
  <%= @caja.saldo_inicial_efectivo %>
</p>

<p>
  <strong>Saldo inicial cheque:</strong>
  <%= @caja.saldo_inicial_cheque %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @caja.estado %>
</p>

<%= link_to 'Edit', edit_caja_path(@caja) %> |
<%= link_to 'Back', cajas_path %>
