<%= form_for [@credit.cuentum, @credit], validate: true do |f| %>
  
  <div class="row">
    <form class="form-horizontal">
      <div class="field col-md-4 form-group required">
          <%= f.label :nro_de_tarjeta, :class => 'col-md-5 control-label'%>
          <div class="col-md-7">
            <%= f.text_field :nro_tarjeta , autofocus:true , :class => 'form-control'%>
          </div>
      </div>

      <div class="field col-md-4 form-group required">
          <%= f.label :encargado, :class => 'col-md-4 control-label'%>
          <%= f.collection_select :personal_id, Personal.all, :id, :name_personal, {prompt: "Seleccione un encargado"} ,:class => 'btn btn-default'%>
      </div>

      <div class="field col-md-4 form-group required">
          <%= f.label :estado, :class => 'col-md-5 control-label'%>
          <select name="credit[estado]" class="btn btn-default col-md-5">
            <option value="Activo" selected="selected">Activo</option>
            <option value="Inactivo">Inactivo</option>
          </select>
      </div>

      <div class="col-md-10">
        <div class="actions">
          <% if controller.action_name == 'new' or controller.action_name == 'index' %>
            <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
            <% elsif controller.action_name == 'edit' %>
            <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
          <% end %>
          
          <%= link_to 'Cancelar',  cuentum_credits_path(@credit.cuentum) , class: 'btn btn-primary' %>
        </div>
      </div>
    </form>
  </div>

<% end %>
