<p id="notice"><%= notice %></p>

<p>
  <strong>Nro tarjeta:</strong>
  <%= @credit.nro_tarjeta %>
</p>

<p>
  <strong>Cuentum:</strong>
  <%= @credit.cuentum %>
</p>

<p>
  <strong>Personal:</strong>
  <%= @credit.personal %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @credit.estado %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
