<%= nested_form_for [@boleta_deposito.apertura_caja, @boleta_deposito], validate: true do |f| %>
  <div class="row">
    <form class="form-horizontal">
      <div class="field col-md-12">
        <div class="field col-md-4 form-group required">
          <%= f.label :cuenta_id, 'Cuenta',:class => ' control-label'%>
          <%= f.collection_select :cuenta_id, Cuentum.all, :id, :nro_cuenta, {prompt: "Seleccione una cuenta"} ,:class => 'btn btn-default', autofocus:true%>
        </div>
        <div class="field col-md-4 form-group required">
          <%= f.label :nro_boleta, 'Boleta Nro', :class => 'col-md-4 control-label'%>
          <div class="field col-md-8">
            <%= f.text_field :nro_boleta, :maxlength => 17, :class => 'form-control' %>
          </div>
        </div>
        <div class="field col-md-4 form-group required">
          <%= f.label :fecha, :class => 'col-md-3 control-label'%>
          <div class="col-md-9">
            <%= f.text_field :fecha, :class => 'input-group date form-control' %>
          </div>
        </div>

      </div>
      <div class="field col-md-12">
        <div class="field col-md-4 form-group">
          <%= f.label :monto_efectivo, 'Efectivo' ,  :class => 'col-md-3'%>
          <div class="field col-md-8">
            <%= f.text_field :monto_efectivo, :maxlength => 17,  :class => 'form-control '%>
          </div>
        </div>
      </div>

    <br>

    <%# nested form de boletas de deposito%>
    <div class="field col-md-7">
      <table class="tab table table-striped table-hover">
        <thead>
          <tr>
            <th>Cheques a Depositar</th>
            <th>Accion</th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :boleta_deposito_detalles, :wrapper => false do |detalle| %>
            <tr class="fields">
              <td><%= detalle.collection_select :cheque_recibido_id, ChequeRecibido.all, :id, :name_cheque_recibido, {prompt: "Seleccione un cheque"} ,:class => 'btn btn-default'%></td>
              <td><%= detalle.link_to_remove "X", :class => 'btn btn-danger'%></td>
            </tr>
          <% end %>
          <tr>
             <td><%= f.link_to_add "Agregar cheque", :boleta_deposito_detalles, :class => 'insert_in_table btn btn-default' %></td>
          </tr>
        </tbody>
      </table>
    </div>
      <div class="col-md-10 ">
        <div class="actions">
          <% if controller.action_name == 'edit'  %>
            <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
          <% else %>
              <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
          <% end %>
          <%= link_to 'Cancelar',  new_apertura_caja_boleta_deposito_path(@apertura_caja) , class: 'btn btn-primary margen' %>
        </div>
      </div>
    </form>
  </div>    
<% end %>
