<%= form_for @cheque_emitido, validate: true do |f| %>
  
    <div class="row">
    <form class="form-horizontal">

    <div class="field col-md-12 form-group">
   <div class="field col-md-6 form-group required">
    <%= f.label :chequera_id,  :class => 'col-md-3 control-label'%>
    <div class="field col-md-9 form-group">
         <%= f.collection_select :chequera_id, Chequera.where(:estado => 'Activo'), :id, :name_chequera, {prompt: "Seleccione una chequera"} ,:class => 'btn btn-default', autofocus:true%>
  </div>
  </div>

  <div class="field col-md-6 form-group required">
    <%= f.label :nro_cheque, :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
    <%= f.text_field :nro_cheque, :class => 'form-control' %>
  </div>
  </div>
</div>


  <div class="field col-md-12 form-group"> 
  <div class="field col-md-5 form-group required">
    <%= f.label :proveedor_id, :class => 'col-md-4 control-label' %>
    <div class="field col-md-8 form-group">
     <%= f.collection_select :proveedor_id, Proveedor.all, :id, :name_proveedor, {prompt: "Seleccione un proveedor"} ,:class => 'btn btn-default col-md-20'%>
  </div>
  </div>
  
  <div class="col-md-1"></div>

   <div class="field col-md-6 form-group required">
    <%= f.label :fecha, :class=> 'col-md-3 control-label' %>
    <div class="input-group col-md-6">
            <%= f.text_field :fecha, :class => 'input-group date form-control' %>
            <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
</div>

  </div>

<div class="field col-md-12 form-group">
 <div class="field col-md-6 form-group required">
    <%= f.label :concepto, :class => 'col-md-3 control-label' %>
    <div class="col-md-9"> 
    <%= f.text_field :concepto, :class => 'form-control' %>
  </div>
  </div>
  
  <div class="field col-md-6 form-goup required">
    <%= f.label :monto, :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
    <%= f.text_field :monto, :class => 'form-control' %>
  </div>
  </div>

</div>
     <div class="col-md-10">
        <div class="actions">
            <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
          <%= link_to 'Cancelar',  cheque_emitidos_path , class: 'btn btn-primary margen' %>
        </div>
      </div>
      </div>
    <% end %>