      <div class="col-sm-12 col-md-12">
        <table id="table" class="table table-striped table-hover">
          <thead>
    <tr>
      <th>Nro cheque</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Chequera</th>
      <th>Proveedor</th>
      <th>Concepto</th>
      <th></th>
    </tr>
  </thead>

    <tbody>
    <% @cheque_emitidos.each do |cheque_emitido| %>
      <tr>
        <td><%= cheque_emitido.nro_cheque %></td>
        <td><%= cheque_emitido.monto %></td>
        <td><%= cheque_emitido.fecha %></td>
      
         <% chequera = cheque_emitido.chequera %>
        <td><%= chequera.name_chequera  %></td>

        <% proveedor = Proveedor.find(cheque_emitido) %>
         <td><%= proveedor.name_proveedor %></td>
        
        <td><%= cheque_emitido.concepto %></td>
                <td class="row">
                  <%= link_to edit_cheque_emitido_path(cheque_emitido), class: 'btn btn-default', title: 'Editar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-pencil"></span>
                  <% end %>
                  <%= link_to cheque_emitido, method: :delete, data: { confirm: 'Esta seguro que desea eliminar este registro?' }, class: 'btn btn-default', title: 'Eliminar', 'data-toggle' => 'tooltip', 'data-placement' => 'rigth' do %>
                  <span class= "glyphicon glyphicon-trash"></span>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
   