<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@motivo_movimiento_caja, remote: remote, html: {role: :form, 'data-model' => 'motivo_movimiento_caja'}) do |f| %>

  <% if @motivo_movimiento_caja.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@motivo_movimiento_caja.errors.count, "error") %> prohibited this motivo_movimiento_caja from being saved:</h2>

      <ul>
      <% @motivo_movimiento_caja.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <div class="row">
    <form class="form-horizontal">
    <div class="field col-md-12 form-group">
      <div class="field col-md-12 form-group required">
        <%= f.label :descripcion, :class => 'col-md-3 control-label' %>
         <div class="col-md-9">
          <%= f.text_field :descripcion, autofocus:true , :maxlength => 40, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="actions col-md-10">
      <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
    </div>
    </form> 
  </div>
<% end %>