<h1>Listing motivo_movimiento_cajas</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @motivo_movimiento_cajas.each do |motivo_movimiento_caja| %>
      <tr>
        <td><%= motivo_movimiento_caja.descripcion %></td>
        <td><%= link_to 'Show', motivo_movimiento_caja %></td>
        <td><%= link_to 'Edit', edit_motivo_movimiento_caja_path(motivo_movimiento_caja) %></td>
        <td><%= link_to 'Destroy', motivo_movimiento_caja, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Motivo movimiento caja', new_motivo_movimiento_caja_path %>
