<%= form_for @cupon_emitido, validate: true do |f| %>
  
    <div class="row">
    <form class="form-horizontal">

    <div class="field col-md-12 form-group">
   <div class="field col-md-6 form-group required">
    <%= f.label :tarjeta_id,  :class => 'col-md-3 control-label'%>
    <div class="field col-md-9 form-group">
      <%= f.collection_select :tarjeta_id, Credit.where(:estado => 'Activo'), :id, :name_tarjeta, {prompt: "Seleccione una tarjeta"} ,:class => 'btn btn-default col-md-40'%>
    </div>
  </div>

  <div class="field col-md-6 form-group required">
    <%= f.label :nro_cupon, :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
    <%= f.text_field :nro_cupon, :class => 'form-control' %>
  </div>
  </div>
  </div>

  <div class="field col-md-12 form-group">
  <div class="field col-md-6 form-group required">
    <%= f.label :proveedor_id, :class => 'col-md-3 control-label' %>
    <div class="field col-md-9 form-group">
     <%= f.collection_select :proveedor_id, Proveedor.all, :id, :name_proveedor, {prompt: "Seleccione un proveedor"} ,:class => 'btn btn-default col-md-48'%>
  </div>
  </div>
   <div class="field col-md-6 form-group required">
    <%= f.label :fecha, :class=> 'col-md-3 control-label' %>
    <div class="col-md-6">
    <%= f.date_select :fecha, :order => [:day, :month, :year], :class => 'form-control' %>
  </div>
</div>
</div>

<div class="field col-md-12 form-group">
 <div class="field col-md-6 form-group required">
    <%= f.label :concepto, :class => 'col-md-3 control-label' %>
    <div class="col-md-8"> 
    <%= f.text_field :concepto, :class => 'form-control' %>
  </div>
  </div>

    <div class="field col-md-6 form-group required">
    <%= f.label :monto, :class => 'col-md-3 control-label' %>
    <div class="col-md-6">
    <%= f.text_field :monto, :class => 'form-control' %>
  </div>
  </div>
  
</div>
     <div class="col-md-10">
        <div class="actions">
          <% if controller.action_name == 'new' or controller.action_name == 'index' %>
            <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
            <% elsif controller.action_name == 'edit' %>
            <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
          <% end %>
          
          <%= link_to 'Cancelar',  bancos_path , class: 'btn btn-primary margen' %>
        </div>
      </div>
      </div>
    <% end %>


