      <div class="col-sm-12 col-md-12">
        <table id="table" class="table table-striped table-hover">
          <thead>
    <tr>
      <th>Nro cheque</th>
      <th>Monto</th>
      <th>Fecha</th>
      <th>Tarjeta</th>
      <th>Proveedor</th>
      <th>Concepto</th>
    </tr>
  </thead>
    <tbody>
    <% @cupon_emitidos.each do |cupon_emitido| %>
      <tr>
        <td><%= cupon_emitido.nro_cupon %></td>
        <td><%= cupon_emitido.monto %></td>
        <td><%= cupon_emitido.fecha %></td>
        <%  credito = Credit.find(cupon_emitido.tarjeta_id) %>
        <td><%=  credito.name_tarjeta%></td>
        <td><%= cupon_emitido.proveedor.name_proveedor %></td>
        <td><%= cupon_emitido.concepto %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>