<%= form_for(@chequera) do |f| %>
  <% if @chequera.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chequera.errors.count, "error") %> prohibited this chequera from being saved:</h2>

      <ul>
      <% @chequera.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nro_primero %><br>
    <%= f.number_field :nro_primero %>
  </div>
  <div class="field">
    <%= f.label :nro_ultimo %><br>
    <%= f.number_field :nro_ultimo %>
  </div>
  <div class="field">
    <%= f.label :cuentum_id %><br>
    <%= f.text_field :cuentum_id %>
  </div>
  <div class="field">
    <%= f.label :personal_id %><br>
    <%= f.text_field :personal_id %>
  </div>
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
