<p id="notice"><%= notice %></p>

<p>
  <strong>Nro primero:</strong>
  <%= @chequera.nro_primero %>
</p>

<p>
  <strong>Nro ultimo:</strong>
  <%= @chequera.nro_ultimo %>
</p>

<p>
  <strong>Cuentum:</strong>
  <%= @chequera.cuentum %>
</p>

<p>
  <strong>Personal:</strong>
  <%= @chequera.personal %>
</p>


