<%= form_for  @pai, validate: true do |f| %>

  <div class="row">
    <form class="form-horizontal">
    <div class="field col-md-12 form-group">
      <div class="field col-md-12 form-group required">
        <%= f.label :nombre, :class => 'col-md-2 control-label'%>
        <div class="col-md-7">
          <%= f.text_field :nombre , autofocus:true, :maxlength => 30, :class => 'form-control'%>
        </div>
      </div>
    </div>

   <div class="col-md-10">
        <div class="actions">
          <% if controller.action_name == 'new' or controller.action_name == 'index' %>
            <%= f.submit "Agregar", :class => 'btn btn-primary margen'%>
            <% elsif controller.action_name == 'edit' %>
            <%= f.submit "Guardar", :class => 'btn btn-primary margen'%>
          <% end %>
          
          <%= link_to 'Cancelar',  bancos_path , class: 'btn btn-primary' %>
        </div>
      </div>
  </form>
  </div>
<% end %>
